In [52]:
import pandas as pd
import re
list_csv = ['data/kor/attraction_places.csv',
            'data/kor/hotel_places.csv',
            'data/kor/restaurant_places.csv',
            'data/eng/eng_attraction_places.csv',
            'data/eng/eng_hotel_places.csv',
            'data/eng/eng_restaurant_places.csv']
save_csv = ['data/attraction_places.csv',
            'data/hotel_places.csv',
            'data/restaurant_places.csv']
save2_csv = ['data/attraction_dropped.csv',
             'data/hotel_dropped.csv',
             'data/restaurant_dropped.csv']

In [53]:
for csv in list_csv:
    df = pd.read_csv(csv,
                     names=['placeId', 'name_kor', 'location', 'class'],
                     encoding='euc-kr')
    print(len(df))

561
804
23150
564
899
12599

In [54]:
matches = re.findall('[0-9]+\.[0-9]+', str1)
t = tuple([float(s) for s in matches])

In [55]:
def tuplize(arg):
    try:
        return tuple([float(s) for s in arg])
    except:
        print(arg)

In [60]:
for i in range(3):
    df_kor = pd.read_csv(list_csv[i],
                     names=['placeId', 'name_kor', 'location', 'class'],
                     encoding='euc-kr')
    tmp_class = df_kor['class'][0]
    df_eng = pd.read_csv(list_csv[i+3],
                     names=['placeId', 'name_eng', 'location', 'class'],
                     encoding='euc-kr')
    df_eng = df_eng.iloc[:, [j for j, c in enumerate(df_eng.columns) if j != 4]]
    df_eng = df_eng.drop(columns=['location', 'class'])
    df_kor = pd.merge(df_kor, df_eng, how='outer')
    cols = df_kor.columns.tolist()
    cols = cols[3:4] + cols[0:2] + cols[-1:] + cols[2:3]
    df_kor = df_kor[cols]
    df_kor['class'] = df_kor['class'].fillna(tmp_class)

    # 테스트용: 좌표 외 drop
    df_dropped = df_kor.dropna(subset=['location'])
    series_match = df_dropped['location'].apply(lambda x:
                                                re.fullmatch('[0-9]+\.[0-9]+,[0-9]+\.[0-9]+', x))
    df_dropped = df_dropped[pd.notnull(series_match)]
    
    # 좌표 (float,float)형 tuple로 변환
    df_location = pd.DataFrame(df_dropped['location'].apply(lambda x:
                                                            re.findall('[0-9]+\.[0-9]+', x)))
    df_dropped['latitude'] = df_location['location'].apply(lambda x: x[0])
    df_dropped['longitude'] = df_location['location'].apply(lambda x: x[0])
    ###
    df_kor.to_csv(save_csv[i], index=False)
    df_dropped.to_csv(save2_csv[i], index=False)
    print('before drop: ', len(df_kor))
    print('after  drop: ', len(df_dropped))
    print()

before drop:  569
after  drop:  352

before drop:  1163
after  drop:  687

before drop:  23171
after  drop:  18250

In [65]:
df_dropped

,class,placeId,name_kor,name_eng,location,latitude
3,restaurants,10000599,빌즈 광화문,bills Gwanghwamun,"37.5717,126.97971",37.5717
5,restaurants,10025748,뱀부하우스,Bamboo House,"37.507,127.03664",37.507
6,restaurants,10040756,117 파크,117 Park,"37.571552,126.970795",37.571552
10,restaurants,1006353,레보,Les Baux,"37.52602,127.03659",37.52602
11,restaurants,10063988,참치공방,Chamchi Gongbang,"37.57072,126.98422",37.57072
12,restaurants,10065566,할스,Hearth,"37.50355,127.03987",37.50355
13,restaurants,10073597,오리지널 팬케이크 하우스,The Original Pancake House Itaewon,"36.951187,127.02991",36.951187
17,restaurants,10079161,BHC치킨 명동본점,BHC Chicken Myeongdong,"37.564575,126.983864",37.564575
18,restaurants,10080270,아카시아 카페 비스트로,Acacia Cafe & Bistro,"37.5199,127.022675",37.5199
19,restaurants,10083141,탑 카페테리아,TOP cafeteria,"37.563343,127.0371",37.563343
21,restaurants,10085211,야마뜨,Yec'hed Mat,"37.54899,126.91879",37.54899
29,restaurants,10096415,자연별곡,Nature Kitchen,"37.570892,126.97895",37.570892
30,restaurants,10103011,YG 리퍼블릭,YG Republique,"37.564583,126.983574",37.564583
31,restaurants,10116264,롱브레드,Long Bread,"37.56409,126.99794",37.56409
33,restaurants,10117976,브라더후드키친,Brotherhood Kitchen,"37.502785,127.02744",37.502785
35,restaurants,10118068,멘야하나비,Menya Hanabi,"37.51106,127.1076",37.51106
39,restaurants,10122363,익선동121,EX-ON 121,"37.574028,126.990295",37.574028
42,restaurants,10133954,이빠네마 그릴,Ipanema Grill,"37.55708,126.93718",37.55708
43,restaurants,10136205,개성만두 궁,Gaeseong Mandu Koong,"37.574345,126.985565",37.574345
47,restaurants,10137453,아그라 코엑스몰점,Agra COEX Mall,"37.51139,127.059166",37.51139
49,restaurants,10137496,이태원 겐지스,Ganges Itaewon,"37.53524,126.99898",37.53524
54,restaurants,10151079,몰트바배럴,Malt Bar BARREL,"37.510704,127.0555",37.510704
55,restaurants,10154101,래미스,Ramie's,"37.535004,126.99442",37.535004
57,restaurants,10160945,엉터리생고기 왕십리점,Ungteori Saenggogi Wangsimni,"37.562614,126.98405",37.562614
58,restaurants,10160977,명동칼국수,Myeongdong Kalguksu,"37.520832,126.93128",37.520832
60,restaurants,10161274,오후정,Ohujeong,"37.386036,127.12219",37.386036
61,restaurants,10161356,모모카페 코트야드 서울 남대문,MoMo Cafe Courtyard Seoul Namdaemun,"37.560974,126.976906",37.560974
62,restaurants,10161422,반미리,Banhmi Lee,"37.54307,126.98758",37.54307
66,restaurants,10167973,버거뱅,Burgerbang,"37.57853,126.98911",37.57853
69,restaurants,10169301,중앙해장,Jungang Haejang,"37.50795,127.06556",37.50795
...,...,...,...,...,...,...
23038,restaurants,950481,Ozone,NaN,"37.569664,126.988205",37.569664
23039,restaurants,951647,오모리 찌개 잠실 본점,NaN,"37.508366,127.1042",37.508366
23040,restaurants,951655,아웃백스테이크하우스 잠실점,NaN,"37.50787,127.10524",37.50787
23041,restaurants,951695,뚜레쥬르 석촌역점,NaN,"37.50619,127.10809",37.50619
23047,restaurants,9560054,해변의꽃게 인사동점,NaN,"37.477543,127.00857",37.477543
23051,restaurants,9564853,홍대 조폭 떡볶이,NaN,"37.550365,126.92135",37.550365
23053,restaurants,9565154,더그리핀바,NaN,"37.57037,127.0089",37.57037
23057,restaurants,9565424,라그릴리아 이태원점,NaN,"37.534855,126.9962",37.534855
23061,restaurants,9569770,부아,NaN,"37.534,126.99353",37.534
23065,restaurants,9598649,도우룸,NaN,"37.493797,126.99333",37.493797
23066,restaurants,9598657,랑빠스81,NaN,"37.560116,126.92528",37.560116
23076,restaurants,9681741,캘리포니아키친앤크래프트펍,NaN,"37.539505,126.99168",37.539505
23080,restaurants,968586,대박집,NaN,"37.620678,126.93578",37.620678
23084,restaurants,9715895,옛맛서울불고기,NaN,"37.549587,126.93174",37.549587
23086,restaurants,9729439,앙카라 팰리스,NaN,"37.534332,126.99413",37.534332
23092,restaurants,9732337,탬파 샌드위치 바,NaN,"37.561943,126.924774",37.561943
23095,restaurants,9732438,루프탑 바,NaN,"37.506813,127.03149",37.506813
23096,restaurants,9735742,지노스,NaN,"37.534267,126.988235",37.534267
23100,restaurants,9746067,보바인,NaN,"37.53454,127.01091",37.53454
23106,restaurants,9751907,온더보더 IFC몰점,NaN,"37.52549,126.92555",37.52549
23116,restaurants,9783358,스테이지 28,NaN,"37.565426,127.146965",37.565426
23121,restaurants,9813825,어바웃진스 바베큐 키친,NaN,"37.57412,126.97121",37.57412
23122,restaurants,982407,제니스카페테리아,NaN,"37.553127,126.92585",37.553127
23128,restaurants,9869826,옹다래,NaN,"37.592335,126.9525",37.592335
23129,restaurants,9878254,Charles H.,NaN,"37.570686,126.975685",37.570686
23135,restaurants,9974988,브릭하우스,NaN,"37.565258,127.02215",37.565258
23139,restaurants,9975736,NaN,NaN,"37.51993,126.92979",37.51993
23143,restaurants,9987838,월향,NaN,"37.567818,126.97591",37.567818
23147,restaurants,9997016,온더보더 롯데월드몰점,NaN,"37.51353,127.10374",37.51353
23148,restaurants,9997022,N 버거,NaN,"37.55125,126.988174",37.55125

In [51]:
print('전체',len(df_kor))
print('NA',len(df_kor[pd.isna(df_kor['location'])]))
df_tmp = df_kor.dropna(subset=['location'])
series_match = df_tmp['location'].apply(lambda x:
                                        re.fullmatch('[0-9]+\.[0-9]+,[0-9]+\.[0-9]+', x))
print('좌표',len(df_tmp[pd.notnull(series_match)]))
print('주소',len(df_tmp[pd.isnull(series_match)]))

전체 23171
NA 26
좌표 18250
주소 4895