In [7]:
import pandas as pd
import re

In [8]:
list_csv = ['data/kor/attraction_review',
            'data/kor/hotel_review',
            'data/kor/restaurant_review',
            'data/eng/eng_attraction_review',
            'data/eng/eng_hotel_review',
            'data/eng/eng_restaurant_review']

In [11]:
for csv in list_csv:
    df_raw = pd.read_csv(csv+'.csv',
                         names=['placeId','userId','score','title','review'],
                         encoding='ms949')
    df_raw = df_raw.drop(df_raw.columns[5:],axis=1)
    df_raw = df_raw.dropna()
    df_raw.score = df_raw.score/10
    df_raw.score = df_raw.score.apply(int)
    df_raw.review = df_raw.title + ' ' + df_raw.review
    df_raw = df_raw.drop(columns=['title'])
    df_raw.review = df_raw.review.apply(lambda x: re.sub('(<br/>|[ ]+)',' ',x))
    if csv == 'data/kor/restaurant_review':
        df_tmp = df_raw
        ## 유니코드 replace ##
        def unicode(match):
            match = match.group()
            return chr(int(match[2:], base=16))
        for i in df_raw.userId:
            i = re.sub(r'\\u[0-9a-f]{4}', unicode, i)
        df_raw.userId = df_raw.userId.apply(lambda x:
                            re.sub(r'\\u[0-9a-f]{4}', unicode, x))
        ####
    df_raw = df_raw.reset_index(drop=True)
    df_raw.to_csv(csv+'_pp.csv',mode='w')

In [16]:
df_tmp[df_tmp.columns[0]]

0        10000530
1        10000530
2        10000530
3        10000553
4        10000553
5        10000564
7        10000599
9        10000599
11       10000599
12       10000599
13       10000599
14       10000599
15       10000599
16       10000599
18       10000599
20       10000599
21       10000599
22       10000599
25       10000599
26       10000599
27       10000599
29       10000599
30       10000599
31       10000599
34       10040756
37       10040756
38       10040756
44       10058560
49        1006353
50       10063988
           ...
73761     9987838
73766     9996766
73767     9996766
73768     9996766
73770     9996909
73771     9996909
73772     9996909
73773     9996913
73776     9996913
73777     9997016
73778     9997016
73779     9997016
73780     9997016
73781     9997016
73782     9997016
73784     9997016
73786     9997016
73787     9997016
73788     9997016
73789     9997016
73790     9997016
73791     9997016
73795     9997016
73798     9997016
73799     9997016
73800     9997022
73801     9997022
73810     9997022
73811     9997022
73813     9997030
Name: placeId, Length: 52991, dtype: int64