In [39]:
import numpy as np
import pandas as pd
from gensim.models import Word2Vec
list_csv = ['data/attraction_places.csv',
           'data/hotel_places.csv',
           'data/restaurant_places.csv']

In [65]:
model1 =  Word2Vec().wv.load('model/attraction_tag.model')
model2 =  Word2Vec().wv.load('model/eng_hotel_tag.model')
model3 =  Word2Vec().wv.load('model/restaurant_tag.model')

In [41]:
df_place = pd.DataFrame()
for csv in list_csv:
    df_place = df_place.append(pd.read_csv(csv))

In [48]:
df_place[df_place['placeId'] == 788278]

            class  placeId name_kor       name_eng             location
6405  restaurants   788278   그랜드 키친  Grand Kitchen  37.509506,127.06072

In [42]:
df_place[df_place['class'] == 'restaurants']

,class,placeId,name_kor,name_eng,location
0,restaurants,10000530,닭다리칼국수,Dakdari Kalguksu,서울 성동구 연무장3길 21
1,restaurants,10000553,동해도 을지로점,Donghaedo Euljiro,서울 중구 남대문로10길 9
2,restaurants,10000564,명장도가니,Myeongjang Dogani,서울 노원구 석계로18길 15
3,restaurants,10000599,빌즈 광화문,bills Gwanghwamun,"37.5717,126.97971"
4,restaurants,10000653,벽돌집,Byeokdopjip,서울 마포구 와우산로21길 21
5,restaurants,10025748,뱀부하우스,Bamboo House,"37.507,127.03664"
6,restaurants,10040756,117 파크,117 Park,"37.571552,126.970795"
7,restaurants,10058097,Nogari,Nogari,"서울 153-4 Insa-dong, Jongno-gu, Seoul, South Korea"
8,restaurants,10058560,사마르칸트시티,Samarkand City,서울 중구 을지로42길 16
9,restaurants,10060003,와인나라,Wine Nara,서울 서초구 서래로 8길 1
10,restaurants,1006353,레보,Les Baux,"37.52602,127.03659"
11,restaurants,10063988,참치공방,Chamchi Gongbang,"37.57072,126.98422"
12,restaurants,10065566,할스,Hearth,"37.50355,127.03987"
13,restaurants,10073597,오리지널 팬케이크 하우스,The Original Pancake House Itaewon,"36.951187,127.02991"
14,restaurants,10073649,코리아노스 키친 광화문점,Coreanos Kitchen Gwanghwamun,서울 종로구 종로3길 17
15,restaurants,10077987,육쌈냉면 경희대점,Yookssam Naengmyeon Kyunghee University,서울 동대문구 경희대로4길 6
16,restaurants,10078256,코다차야 홍대점,Kodachaya Hongdae,서울 마포구 와우산로 48
17,restaurants,10079161,BHC치킨 명동본점,BHC Chicken Myeongdong,"37.564575,126.983864"
18,restaurants,10080270,아카시아 카페 비스트로,Acacia Cafe & Bistro,"37.5199,127.022675"
19,restaurants,10083141,탑 카페테리아,TOP cafeteria,"37.563343,127.0371"
20,restaurants,10085204,돌체비타,Dolce Vita,서울 용산구 이태원로 161
21,restaurants,10085211,야마뜨,Yec'hed Mat,"37.54899,126.91879"
22,restaurants,10085228,소녀방앗간,Sobang Life,서울 종로구 삼봉로 71
23,restaurants,10085257,제주식당,Jeju Restaurant,서울 용산구 대사관로 48
24,restaurants,10088187,유리가가린,Yurigagarin,서울 마포구 포은로 78
25,restaurants,10088229,더 파크뷰,The Parkview,서울 중구 동호로 249
26,restaurants,10088336,요정,Yojeong,서울 마포구 동교로34길 11
27,restaurants,10088494,마루,Maru,서울 용산구 서빙고로 137
28,restaurants,10088544,파파야폭폭,Papaya Pokpok,서울 마포구 독막로19길 42
29,restaurants,10096415,자연별곡,Nature Kitchen,"37.570892,126.97895"
...,...,...,...,...,...
23141,restaurants,9979865,홍대개미,NaN,서울 마포구 독막로 67-9
23142,restaurants,9986548,미소다락,NaN,서울 마포구 동교로 230
23143,restaurants,9987838,월향,NaN,"37.567818,126.97591"
23144,restaurants,9996766,백로 서울역점,NaN,서울 용산구 청파로 378
23145,restaurants,9996909,자연별곡,NaN,서울 마포구 양화로 153
23146,restaurants,9996913,더부스 강남2호점,NaN,서울 강남구 강남대로98길 12-4
23147,restaurants,9997016,온더보더 롯데월드몰점,NaN,"37.51353,127.10374"
23148,restaurants,9997022,N 버거,NaN,"37.55125,126.988174"
23149,restaurants,9997030,모모야 이촌본점,NaN,서울 용산구 이촌로 248
23150,restaurants,12588062,NaN,Il Cipriani,NaN
23151,restaurants,12680563,NaN,Beerflage,NaN
23152,restaurants,13131444,NaN,Sichuan House Times Square,NaN
23153,restaurants,13651582,NaN,Crystal Jade,NaN
23154,restaurants,13873592,NaN,Festa Dining,NaN
23155,restaurants,13975295,NaN,Giardino Moderno,NaN
23156,restaurants,14167866,NaN,Haelyongmalasolungsya,NaN
23157,restaurants,14440857,NaN,Parc - Amore Pacific HQ,NaN
23158,restaurants,14442194,NaN,The Masala,NaN
23159,restaurants,14790370,NaN,Krappom,NaN
23160,restaurants,14790906,NaN,Lagrillia - Hongdae,NaN
23161,restaurants,4030412,NaN,KFC Dangsanyeok,NaN
23162,restaurants,8879914,NaN,Boss Whelk Chicken,NaN
23163,restaurants,8881604,NaN,Breadwinner Delicious Pig's Feet,NaN
23164,restaurants,8886671,NaN,Bura the Tripes,NaN
23165,restaurants,8892230,NaN,Cafe Ko Na Queens,NaN
23166,restaurants,8962332,NaN,Hwapyeongdong King Cold Buckwheat Noodles,NaN
23167,restaurants,8967602,NaN,I River Sun Restaurant House,NaN
23168,restaurants,8983589,NaN,Jang River Drivers' Restaurant,NaN
23169,restaurants,8994430,NaN,Hardy Kiwi Ham Box Tek,NaN
23170,restaurants,9037758,NaN,Hairy Person Ne Yummy House Meot House,NaN

In [75]:
p = ['10348077','4029978','4030093','4030888']
n = ['10307753','10174333','12993060','13970340']
print('positive: ', [df_place[df_place['placeId']==int(i)].name_kor.tolist()[0]
                     for i in p])
print('negative: ', [df_place[df_place['placeId']==int(i)].name_kor.tolist()[0]
                     for i in n])
print('상위 10개 유사도')
top10 = model3.wv.most_similar(positive=p, negative=n)
for place in top10:
    print(df_place[df_place['placeId'] == int(place[0])].name_kor.tolist(), place[1])

positive:  ['101번지남산돈까스', '행운돈까스', '허수아비돈까스', '온달왕돈까스']
negative:  ['봉숙이조개전골', '옥수 해물찜 칼국수', '대한해물 면목점', '통영해물가 방배점']
상위 10개 유사도
['바로돈까스'] 0.32131150364875793
['미소야 장안점'] 0.3196033239364624
['리치돈까스뷔페'] 0.31930047273635864
['투다리 방학점'] 0.3086874485015869
['테리야끼'] 0.3022700846195221
['미소야 둔촌점'] 0.3022163510322571
['손가명가'] 0.2982504367828369
['외가집'] 0.29704275727272034
['돈참집'] 0.28798648715019226
['생생돈까스'] 0.2840287983417511

C:\Users\CypressRH\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).

C:\Users\CypressRH\Anaconda3\lib\site-packages\gensim\matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int32 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):