In [44]:
import pandas as pd
import gensim
from gensim.models import Word2Vec
from gensim.models import KeyedVectors 
import time
list_csv = ['data/attraction_places.csv',
           'data/hotel_places.csv',
           'data/restaurant_places.csv']
attraction_e2 =  KeyedVectors.load('model/attraction_tag_e2.model')
attraction_e3 =  KeyedVectors.load('model/attraction_tag_e3.model')
attraction_e4 =  KeyedVectors.load('model/attraction_tag_e4.model')
attraction_e5 =  KeyedVectors.load('model/attraction_tag_e5.model')

restaurant_e5 =  KeyedVectors.load('model/restaurant_tag_e5.model')
attraction_user =  KeyedVectors.load('model/attraction_user_e2.model')
#model2 =  Word2Vec().wv.load('model/eng_hotel_tag.model')
#model3 =  Word2Vec().wv.load('model/restaurant_tag.model')

In [2]:
#entities_list = ['324890', '3808315', '590748']
entities_list = ['10183192', '10020510', '10130671', '10020529', '10020530']

In [3]:
def rank(srcwv, entry, positive=None, negative=None):
    subwv = srcwv[entry]
    newwv = Word2Vec(size=len(subwv[0]))
    # add entries to new vector
    for i in range(len(entry)):
        newwv.wv.add(entry[i], subwv[i])
    # add p, n to new vector
    for w in positive:
        newwv.wv.add(w, srcwv[w])
    for w in negative:
        newwv.wv.add(w, srcwv[w])
    rank = newwv.most_similar(positive=positive,
                              negative=negative,
                              topn=len(entry))
    return rank

In [4]:
#rank(attraction_e5, entities_list, positive=['320359'], negative=['10020510'])
rank(attraction_e5, entities_list, positive=['10677413'], negative=[])

/home/jahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:14: DeprecationWarning: Call to deprecated `most_similar` (Method will be removed in 4.0.0, use self.wv.most_similar() instead).

/home/jahn/anaconda3/lib/python3.6/site-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

[('10183192', 0.48084136843681335),
 ('10020510', 0.30906859040260315),
 ('10130671', 0.30425506830215454),
 ('10020529', 0.2980351448059082),
 ('10020530', 0.1685188263654709)]

In [55]:
df_place = pd.read_csv(list_csv[2])
df_place

,class,placeId,score,name_kor,name_eng,location
0,restaurants,10000530,4.666667,닭다리칼국수,Dakdari Kalguksu,서울 성동구 연무장3길 21
1,restaurants,10000553,4.500000,동해도 을지로점,Donghaedo Euljiro,서울 중구 남대문로10길 9
2,restaurants,10000564,4.500000,명장도가니,Myeongjang Dogani,서울 노원구 석계로18길 15
3,restaurants,10000599,3.560976,빌즈 광화문,bills Gwanghwamun,"37.5717,126.97971"
4,restaurants,10000653,4.000000,벽돌집,Byeokdopjip,서울 마포구 와우산로21길 21
5,restaurants,10025748,4.000000,뱀부하우스,Bamboo House,"37.507,127.03664"
6,restaurants,10040756,3.818182,117 파크,117 Park,"37.571552,126.970795"
7,restaurants,10058097,5.000000,Nogari,Nogari,"서울 153-4 Insa-dong, Jongno-gu, Seoul, South Korea"
8,restaurants,10058560,4.333333,사마르칸트시티,Samarkand City,서울 중구 을지로42길 16
9,restaurants,10060003,5.000000,와인나라,Wine Nara,서울 서초구 서래로 8길 1
10,restaurants,1006353,5.000000,레보,Les Baux,"37.52602,127.03659"
11,restaurants,10063988,4.500000,참치공방,Chamchi Gongbang,"37.57072,126.98422"
12,restaurants,10065566,5.000000,할스,Hearth,"37.50355,127.03987"
13,restaurants,10073597,4.070175,오리지널 팬케이크 하우스,The Original Pancake House Itaewon,"36.951187,127.02991"
14,restaurants,10073649,4.166667,코리아노스 키친 광화문점,Coreanos Kitchen Gwanghwamun,서울 종로구 종로3길 17
15,restaurants,10077987,4.000000,육쌈냉면 경희대점,Yookssam Naengmyeon Kyunghee University,서울 동대문구 경희대로4길 6
16,restaurants,10078256,3.750000,코다차야 홍대점,Kodachaya Hongdae,서울 마포구 와우산로 48
17,restaurants,10079161,3.703125,BHC치킨 명동본점,BHC Chicken Myeongdong,"37.564575,126.983864"
18,restaurants,10080270,3.785714,아카시아 카페 비스트로,Acacia Cafe & Bistro,"37.5199,127.022675"
19,restaurants,10083141,4.000000,탑 카페테리아,TOP cafeteria,"37.563343,127.0371"
20,restaurants,10085204,4.000000,돌체비타,Dolce Vita,서울 용산구 이태원로 161
21,restaurants,10085211,4.750000,야마뜨,Yec'hed Mat,"37.54899,126.91879"
22,restaurants,10085228,4.000000,소녀방앗간,Sobang Life,서울 종로구 삼봉로 71
23,restaurants,10085257,3.714286,제주식당,Jeju Restaurant,서울 용산구 대사관로 48
24,restaurants,10088187,3.000000,유리가가린,Yurigagarin,서울 마포구 포은로 78
25,restaurants,10088229,4.352941,더 파크뷰,The Parkview,서울 중구 동호로 249
26,restaurants,10088336,5.000000,요정,Yojeong,서울 마포구 동교로34길 11
27,restaurants,10088494,4.666667,마루,Maru,서울 용산구 서빙고로 137
28,restaurants,10088544,5.000000,파파야폭폭,Papaya Pokpok,서울 마포구 독막로19길 42
29,restaurants,10096415,4.529412,자연별곡,Nature Kitchen,"37.570892,126.97895"
...,...,...,...,...,...,...
23127,restaurants,9975688,4.500000,베테랑인사동점,NaN,서울 종로구 인사동5길 14
23128,restaurants,9975703,4.000000,유가이가,NaN,서울 중구 명동7가길 22
23129,restaurants,9975736,5.000000,NaN,NaN,"37.51993,126.92979"
23130,restaurants,9978533,4.250000,정성본 명동2호점,NaN,서울 중구 명동4길 26
23131,restaurants,9979865,3.416667,홍대개미,NaN,서울 마포구 독막로 67-9
23132,restaurants,9986548,5.000000,미소다락,NaN,서울 마포구 동교로 230
23133,restaurants,9987838,4.636364,월향,NaN,"37.567818,126.97591"
23134,restaurants,9996766,2.250000,백로 서울역점,NaN,서울 용산구 청파로 378
23135,restaurants,9996909,3.333333,자연별곡,NaN,서울 마포구 양화로 153
23136,restaurants,9996913,4.500000,더부스 강남2호점,NaN,서울 강남구 강남대로98길 12-4
23137,restaurants,9997016,4.391304,온더보더 롯데월드몰점,NaN,"37.51353,127.10374"
23138,restaurants,9997022,3.230769,N 버거,NaN,"37.55125,126.988174"
23139,restaurants,9997030,4.000000,모모야 이촌본점,NaN,서울 용산구 이촌로 248
23140,restaurants,12588062,5.000000,NaN,Il Cipriani,"Seoul 06001, 165, Apgujeong-ro, Gangnam-gu"
23141,restaurants,12680563,5.000000,NaN,Beerflage,"Seoul 06097, 447, Bongeunsa-ro, Gangnam-gu"
23142,restaurants,13131444,4.000000,NaN,Sichuan House Times Square,"Seoul 07305, 15, Yeongjung-ro, Yeongdeungpo-gu"
23143,restaurants,13651582,5.000000,NaN,Crystal Jade,"Seoul 03143, 1F 7, Yulgok-ro 2-gil, Jongno-gu"
23144,restaurants,13873592,5.000000,NaN,Festa Dining,"37.55001,127.00048"
23145,restaurants,13975295,5.000000,NaN,Giardino Moderno,"37.55551,126.9288"
23146,restaurants,14167866,4.000000,NaN,Haelyongmalasolungsya,"37.536133,127.06098"
23147,restaurants,14442194,3.000000,NaN,The Masala,"37.563374,126.98289"
23148,restaurants,14790906,3.000000,NaN,Lagrillia - Hongdae,"37.556896,126.9233"
23149,restaurants,4030412,4.000000,NaN,KFC Dangsanyeok,"37.5348,126.90256"
23150,restaurants,8879914,4.000000,NaN,Boss Whelk Chicken,"37.510033,127.12488"
23151,restaurants,8886671,5.000000,NaN,Bura the Tripes,"37.55609,126.92717"
23152,restaurants,8962332,1.000000,NaN,Hwapyeongdong King Cold Buckwheat Noodles,"37.571667,126.99973"
23153,restaurants,8967602,3.000000,NaN,I River Sun Restaurant House,"37.571453,126.98024"
23154,restaurants,8983589,5.000000,NaN,Jang River Drivers' Restaurant,"37.635777,127.02052"
23155,restaurants,8994430,5.000000,NaN,Hardy Kiwi Ham Box Tek,"37.63275,127.01901"
23156,restaurants,9037758,3.000000,NaN,Hairy Person Ne Yummy House Meot House,"37.569485,126.84114"

In [56]:
#model = KeyedVectors.load('model/attraction_user_e5.model')
#model = attraction_e2
model = restaurant_e5
df_place = pd.read_csv(list_csv[2])
p = ['9979865']
n = []
#n = ['1163226','14112185','1537022','1552278']
print('positive: ', [df_place[df_place['placeId']==int(i)].name_kor.tolist()[0]
                     for i in p])
print('negative: ', [df_place[df_place['placeId']==int(i)].name_kor.tolist()[0]
                     for i in n])
print('상위 10개 유사도')
top10 = model.most_similar(positive=p, negative=n, topn=10)
cnt = 0
#print(top10)
result = pd.DataFrame(columns=['name', 'similarity'])
for place in top10:
    name = df_place[df_place['placeId'] == int(place[0])].name_kor.tolist()
    if pd.isna(name):
        name = df_place[df_place['placeId'] == int(place[0])].name_eng.tolist()
    result.loc[cnt] = [name,place[1]]
    cnt+=1
result

positive:  ['홍대개미']
negative:  []
상위 10개 유사도

/home/jahn/anaconda3/lib/python3.6/site-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

           name  similarity
0       [랑빠스81]    0.785278
1   [홍대 조폭 떡볶이]    0.767571
2    [할머니의 레시피]    0.758972
3          [안남]    0.747974
4          [육지]    0.747566
5        [르스타일]    0.745619
6  [온더보더 IFC몰점]    0.741591
7    [모녀꼬마마약김밥]    0.739198
8       [더그리핀바]    0.737045
9         [동경암]    0.736735

In [43]:
#유사도 행렬 추출
index = gensim.similarities.MatrixSimilarity(gensim.matutils.Dense2Corpus(model.syn0))

/home/jahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.wv.vectors instead).

/home/jahn/anaconda3/lib/python3.6/site-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

In [30]:
model.wv.syn0[model.wv.vocab['2194168'].index]

/home/jahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  """Entry point for launching an IPython kernel.
/home/jahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.wv.vectors instead).
  """Entry point for launching an IPython kernel.

array([ 0.13839234, -0.17565385, -0.04056159,  0.05154056,  0.071432  ,
        0.08407546, -0.1912874 ,  0.37984294,  0.14532113, -0.01730778,
        0.03792423, -0.07237744,  0.1877766 ,  0.0317835 , -0.16698128,
        0.02196448,  0.02686762, -0.21212645, -0.07353383,  0.08389873,
        0.1590257 ,  0.1513149 ,  0.15425241, -0.2761336 ,  0.07657761,
       -0.03714213, -0.09613925, -0.04326359, -0.06178857,  0.08635211,
       -0.0091673 , -0.06388297,  0.01732828,  0.15332611,  0.08311914,
       -0.05673724, -0.11668353, -0.00715934,  0.11011361,  0.21735202,
       -0.03765745,  0.1038878 ,  0.12084716,  0.17029604,  0.04210516,
        0.09322475, -0.03111278, -0.01132023, -0.02423344,  0.19384491,
        0.05603138, -0.06513225, -0.11386864,  0.17850171, -0.10816479,
        0.2787438 , -0.02870308,  0.01637081,  0.10937627, -0.20033632,
        0.16194044, -0.03286066, -0.01941763, -0.06528051, -0.27314603,
       -0.13537593, -0.06400071,  0.17042507,  0.10177206, -0.12983648,
        0.22229752, -0.05466563,  0.04846384,  0.11291718, -0.13792107,
        0.1386101 , -0.05030024, -0.04770007,  0.02141049, -0.0423336 ,
        0.2334844 , -0.19992764,  0.0682423 ,  0.06010006, -0.00123319,
       -0.26880705, -0.12943374, -0.08201989, -0.02461512, -0.11942228,
        0.09405352, -0.09153861,  0.08909301, -0.06664939, -0.00417914,
        0.08596507, -0.09929871, -0.13269676, -0.16402102,  0.12519374,
       -0.02499233,  0.10866897, -0.02524513,  0.02490518,  0.08906459,
        0.09852481, -0.00697692, -0.07361818,  0.09583647,  0.06470489,
       -0.00475418,  0.03190361, -0.04722795, -0.00995001, -0.20654988,
       -0.04261955,  0.04632491, -0.08827351, -0.17604764, -0.05749056,
       -0.0253169 , -0.33343056, -0.09382142, -0.0465262 , -0.03918365,
        0.00946574, -0.02268059, -0.11344905, -0.13337858,  0.17402408,
       -0.05527078,  0.15920791, -0.01072132, -0.09926524,  0.00436942,
       -0.11128813,  0.0885882 , -0.03327768,  0.05625767, -0.0320029 ,
        0.0075398 , -0.0963901 , -0.09009395,  0.3006795 ,  0.09268555,
        0.17403525,  0.02306216,  0.08119114,  0.07218237,  0.20484357,
        0.03882974, -0.05658353,  0.22695455, -0.06168862, -0.07767926,
        0.11595707,  0.07183836,  0.00139093, -0.17331797, -0.01602836,
        0.20089255, -0.15232588, -0.0592351 ,  0.13876484, -0.00274527,
       -0.13132787, -0.115684  ,  0.0610599 ,  0.03891744, -0.15857501,
       -0.00673711,  0.10724676,  0.04555783, -0.09717572, -0.02828564,
        0.0856519 ,  0.18222307,  0.11852815, -0.13939784, -0.01837301,
       -0.17912768, -0.14641209,  0.02687186,  0.06625696, -0.10456547,
       -0.06680154, -0.24558616, -0.17173408, -0.18101771, -0.28980085,
       -0.12427167,  0.18135643,  0.04446601,  0.15652992, -0.00801823,
       -0.02608469, -0.00950164,  0.0836843 ,  0.20935826, -0.13929361,
        0.03673429, -0.14671652, -0.01448321, -0.09281784,  0.0363864 ,
        0.09610841,  0.01829292,  0.12663294,  0.0195157 ,  0.05361535,
        0.03547445, -0.03900805, -0.06641443,  0.15896523,  0.03483326,
       -0.02359825,  0.09429923,  0.08524872,  0.09955213, -0.05030685,
       -0.12030705, -0.21714956, -0.09049005, -0.01225543, -0.14568405,
        0.00655672,  0.14238954, -0.05038828, -0.02563103,  0.07317351,
       -0.1070205 ,  0.00738065,  0.10766287, -0.04711768, -0.1456133 ,
       -0.08672232, -0.17114168, -0.14814535,  0.02778472,  0.14949195,
       -0.0712254 ,  0.03675553,  0.01916965,  0.13044898, -0.2672828 ,
       -0.01670557,  0.10027363,  0.03037925,  0.06361789, -0.11455169,
       -0.20510249, -0.0053583 ,  0.26680607, -0.06405284, -0.05893572,
       -0.16540131,  0.05727591, -0.12307484,  0.0752258 ,  0.02457428,
        0.07515027,  0.10019367,  0.03261029,  0.11003168, -0.07842655,
       -0.06146281, -0.09555003,  0.07206513, -0.08745188, -0.19817537,
       -0.10529919, -0.00481634, -0.09790409, -0.05392642,  0.03440094,
        0.00570173,  0.01746634,  0.23837695, -0.06627957, -0.06148738,
       -0.1358603 , -0.05465699,  0.04122039, -0.07493641,  0.14479695,
        0.08961406, -0.01676679,  0.0541861 ,  0.07492133, -0.1402126 ,
       -0.0043747 ,  0.19338013,  0.0862035 ,  0.04069581, -0.09511139,
        0.14902857,  0.05279753, -0.01700323, -0.16094339, -0.03515512],
      dtype=float32)

In [31]:
model.wv.syn0[model.wv.vocab['324888'].index]

/home/jahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `wv` (Attribute will be removed in 4.0.0, use self instead).
  """Entry point for launching an IPython kernel.
/home/jahn/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning: Call to deprecated `syn0` (Attribute will be removed in 4.0.0, use self.wv.vectors instead).
  """Entry point for launching an IPython kernel.

array([ 7.19788894e-02,  1.95781499e-01,  1.44076884e-01, -1.35519594e-01,
       -8.97339210e-02,  1.34750307e-02, -1.02432355e-01,  3.38946849e-01,
        2.68747121e-01,  2.13579878e-01, -4.69534472e-02, -4.36314464e-01,
        1.02688156e-01, -6.86596846e-03,  2.02636212e-01, -5.31446561e-02,
        5.27765928e-03, -6.49338365e-02, -1.89654142e-01,  3.57595906e-02,
       -7.73570985e-02,  1.13218620e-01,  1.00510977e-02,  3.34134349e-03,
       -2.83511709e-02,  1.94658518e-01,  3.87370996e-02, -5.42372372e-03,
        2.99796939e-01, -1.14560522e-01,  9.47400331e-02,  6.54617399e-02,
       -6.81081340e-02, -1.33168057e-01,  1.37904808e-01,  1.36948898e-01,
        6.36152166e-04,  1.20404668e-01,  3.62119712e-02,  6.73462301e-02,
       -9.60579589e-02, -1.38206407e-01, -1.37796417e-01, -8.22406933e-02,
        1.56551927e-01,  1.50650635e-01, -1.51445314e-01, -1.33228526e-01,
        1.02156296e-01, -3.55602875e-02,  3.53231728e-02,  6.84826300e-02,
       -6.88300356e-02,  6.23862259e-02,  1.49004245e-02, -1.72049791e-01,
        1.12725951e-01, -6.21343851e-02, -9.77467000e-02, -8.57102405e-03,
       -2.24497635e-02, -1.10592358e-01,  1.29707411e-01,  2.40631983e-01,
       -1.81422383e-01, -3.10098946e-01,  1.70398787e-01,  2.83772618e-01,
       -4.41676565e-02, -3.99487078e-01,  1.19044594e-01, -5.50673157e-02,
       -1.55232340e-01,  3.98182683e-02, -8.02181140e-02,  2.54491698e-02,
        7.93391913e-02,  6.20087944e-02, -5.38183786e-02,  1.20629169e-01,
        3.14427078e-01, -7.02702776e-02, -2.33107340e-02,  8.18113703e-03,
       -3.66408341e-02, -2.31167331e-01, -1.46719322e-01,  1.21099323e-01,
        1.09687438e-02, -6.19507581e-02,  1.45916775e-01, -1.42816767e-01,
        3.51583064e-01, -1.67453662e-02,  5.77929951e-02, -1.72371671e-01,
        1.25142932e-02, -8.68391320e-02,  1.53353080e-01,  1.37495622e-01,
        8.13587457e-02,  3.31901908e-01, -1.42021090e-01, -1.06160298e-01,
       -6.04225397e-02,  2.05930948e-01, -1.65685117e-01, -4.48571816e-02,
       -2.79811630e-03,  9.95778888e-02,  3.85366678e-02,  1.02818266e-01,
       -7.45516419e-02, -2.30392572e-02,  5.04541770e-02, -4.24786881e-02,
        3.15465145e-02, -1.38335347e-01, -9.82685462e-02, -1.30572155e-01,
       -5.50234951e-02, -1.03783220e-01,  1.78450629e-01,  7.31617436e-02,
       -6.37316331e-02,  7.21245185e-02, -2.36881003e-02, -9.18897688e-02,
        1.28847033e-01,  1.21771716e-01,  1.97479963e-01, -2.21499596e-02,
       -2.32957229e-02, -2.51143694e-01, -4.51977253e-02,  1.11819938e-01,
        1.96428131e-02, -3.05371433e-01,  1.39323801e-01, -8.47325325e-02,
        9.48815420e-02,  1.12329334e-01, -1.58076406e-01,  4.62364286e-01,
        3.50194931e-01,  2.32870847e-01,  1.02555469e-01,  7.84806237e-02,
        2.03540191e-01, -7.49858767e-02,  1.32454753e-01, -8.45705718e-02,
        1.24720871e-01, -1.34132266e-01, -2.98427809e-02, -1.84763335e-02,
        1.09262049e-01, -2.05749497e-01, -2.66140312e-01,  9.64831859e-02,
        2.01020554e-01, -7.36799017e-02,  5.48803359e-02,  2.31707674e-02,
       -6.86731860e-02, -7.59596154e-02, -1.52250037e-01, -1.76897511e-01,
        1.26903340e-01, -2.49616772e-01,  6.85564429e-02, -3.07101669e-04,
        1.44129485e-01, -1.58563301e-01,  1.74561348e-02,  1.61515355e-01,
        1.03683146e-02, -1.11861780e-01,  1.05388716e-01, -9.64493081e-02,
       -2.10447028e-01, -2.43462235e-01,  7.58035332e-02,  3.87382358e-02,
        9.74958539e-02, -3.21552642e-02, -1.49427563e-01,  3.08312345e-02,
       -6.17255317e-03, -1.16663456e-01, -2.45360985e-01,  1.46363687e-03,
       -2.89843214e-04,  2.66410206e-02, -1.27005130e-01, -1.43153027e-01,
       -9.17811692e-03,  1.82512671e-01,  2.66588926e-02, -1.73042305e-02,
       -2.09034771e-01, -6.52163997e-02,  1.41431436e-01, -3.14747877e-02,
        2.38789003e-02, -3.80734280e-02,  1.52258322e-01, -8.96818191e-02,
       -3.10184737e-03,  4.61704098e-02,  1.04610820e-03, -2.35564038e-01,
       -2.40585923e-01, -3.05188186e-02, -8.61195847e-02, -2.76695136e-02,
        1.91046745e-02, -2.05574572e-01,  2.00217113e-01, -1.26591474e-02,
        1.53960258e-01, -3.00344750e-02, -1.48857133e-02, -7.65910149e-02,
       -2.98515614e-02, -3.66247608e-03,  2.36969534e-02,  1.69319361e-01,
        1.21535383e-01, -1.62641762e-03, -9.08329561e-02, -1.59281984e-01,
        3.64979878e-02, -1.20321652e-02, -3.12018991e-01, -3.33681703e-02,
        2.04861090e-01,  2.60316040e-02, -2.31289919e-02,  5.34118759e-03,
       -9.53982025e-02, -2.18192309e-01, -2.47829929e-02, -7.86365718e-02,
        4.75639813e-02, -1.56270176e-01,  1.56611040e-01,  4.20326889e-02,
        1.51846781e-01, -8.97160098e-02, -8.34417269e-02, -1.77729398e-01,
        5.16791865e-02, -1.06067441e-01,  3.56151396e-03,  7.36781880e-02,
        1.54146358e-01, -7.66456649e-02, -8.21321160e-02, -1.63469642e-01,
        1.19229250e-01, -6.54161274e-02,  1.37653962e-01,  8.34488645e-02,
        8.64106417e-03,  1.39535099e-01,  6.99627772e-02,  2.80671939e-02,
       -8.74322653e-02, -3.13099064e-02,  7.28121921e-02,  4.78353053e-02,
       -1.82635725e-01,  3.64882946e-02, -3.17922682e-02, -8.83027837e-02,
        9.63949692e-03, -1.56307872e-02,  1.18493736e-01,  9.40037966e-02,
       -5.40368930e-02, -1.44551042e-02,  7.34606907e-02, -5.33933975e-02,
       -6.34660348e-02, -5.83734885e-02,  1.41440958e-01, -5.79848699e-03,
       -5.64404093e-02, -2.02906001e-02,  1.15503766e-01,  8.22337568e-02,
       -5.15122749e-02,  1.71390235e-01,  9.65499133e-03, -1.28562152e-01,
       -1.24910399e-01,  1.40297100e-01, -1.73679404e-02,  8.45657438e-02],
      dtype=float32)

In [29]:
model.index2word

['2194168',
 '324888',
 '553546',
 '1169465',
 '592506',
 '554537',
 '1379963',
 '320359',
 '1046419',
 '324891',
 '325043',
 '554582',
 '324907',
 '1958940',
 '1552278',
 '6671988',
 '2203080',
 '592486',
 '554528',
 '1842046',
 '324887',
 '1235392',
 '1862191',
 '324890',
 '1519813',
 '609340',
 '592495',
 '1551271',
 '3322253',
 '6847900',
 '598499',
 '1957627',
 '592658',
 '590748',
 '1604009',
 '1554603',
 '4798715',
 '554303',
 '2571660',
 '2008729',
 '8842556',
 '554634',
 '6656879',
 '592490',
 '4798711',
 '1579821',
 '1766551',
 '1962594',
 '3600495',
 '4084344',
 '1478599',
 '8737878',
 '1440196',
 '1537022',
 '6570666',
 '1643534',
 '2094166',
 '8693245',
 '554533',
 '3694519',
 '554551',
 '3808315',
 '592484',
 '3568803',
 '4095685',
 '4094861',
 '1990451',
 '3871936',
 '3822061',
 '2011401',
 '1960138',
 '561808',
 '6378743',
 '7154750',
 '553246',
 '1418675',
 '1809989',
 '2341905',
 '1836198',
 '1831099',
 '1758805',
 '1675961',
 '1958930',
 '553213',
 '3901164',
 '1383393',
 '2476788',
 '9582584',
 '9796664',
 '3694405',
 '3901265',
 '3957040',
 '8798065',
 '12309166',
 '2293574',
 '324915',
 '4084386',
 '3901448',
 '12459260',
 '324951',
 '1549822',
 '592521',
 '4095502',
 '2293568',
 '2173769',
 '7717373',
 '502576',
 '6352852',
 '592483',
 '2457547',
 '1972734',
 '1908282',
 '10183192',
 '3694539',
 '7264107',
 '1489411',
 '1052311',
 '8822309',
 '2092468',
 '8822284',
 '1957485',
 '4438505',
 '592508',
 '6656809',
 '2483947',
 '1761206',
 '1957629',
 '12635586',
 '592507',
 '8084014',
 '2428773',
 '1972740',
 '2014599',
 '1956582',
 '592523',
 '6960656',
 '7028430',
 '7717516',
 '9755552',
 '10253186',
 '3805483',
 '1821360',
 '6509932',
 '3808256',
 '2367771',
 '12538661',
 '7891956',
 '4097409',
 '7154858',
 '2303919',
 '2015883',
 '7891686',
 '7060791',
 '2015834',
 '2293590',
 '3805601',
 '592487',
 '10020530',
 '4440129',
 '2341887',
 '1383392',
 '4235275',
 '10288072',
 '3805413',
 '5924658',
 '2341922',
 '3531799',
 '10794564',
 '7154877',
 '7891676',
 '7353795',
 '7028432',
 '3197992',
 '9996891',
 '3805521',
 '2571695',
 '1163226',
 '1804662',
 '1627541',
 '11918183',
 '7028448',
 '3808299',
 '9583000',
 '10270564',
 '592520',
 '11772906',
 '8769919',
 '2519674',
 '1946087',
 '3805479',
 '8749178',
 '4095657',
 '2369065',
 '7264066',
 '10020529',
 '12034029',
 '3805427',
 '6876616',
 '1735171',
 '7622540',
 '4094877',
 '8029067',
 '7891834',
 '8121881',
 '7264192',
 '6680423',
 '6847894',
 '5971975',
 '10720451',
 '8449187',
 '10467804',
 '3670803',
 '4094809',
 '4096226',
 '3808305',
 '11879752',
 '3808303',
 '7892136',
 '3805629',
 '7060833',
 '8404036',
 '4095680',
 '4798710',
 '1960133',
 '12202187',
 '3805418',
 '1862195',
 '7891838',
 '9583069',
 '7060838',
 '7154928',
 '4095681',
 '10376613',
 '3313701',
 '7987267',
 '10483406',
 '632509',
 '4798698',
 '1992546',
 '7891946',
 '2041644',
 '10479243',
 '1862199',
 '2269012',
 '8693250',
 '7891934',
 '8790342',
 '592482',
 '4798608',
 '7891945',
 '8556104',
 '3805519',
 '8630566',
 '592440',
 '12134415',
 '8076992',
 '7891943',
 '4096223',
 '2341861',
 '592497',
 '9569019',
 '3805568',
 '2341870',
 '3805639',
 '7717447',
 '592441',
 '2041647',
 '3313698',
 '8121688',
 '10897845',
 '11928572',
 '10813620',
 '7891907',
 '9719010',
 '4095671',
 '6197503',
 '7891908',
 '4798694',
 '4084362',
 '3808296',
 '13319724',
 '4427522',
 '2255376',
 '11879847',
 '4427620',
 '592518',
 '7891918',
 '4798717',
 '11434444',
 '10536576',
 '7891991',
 '3694651',
 '12986884',
 '10758285',
 '1176552',
 '7892011',
 '8123881',
 '7891951',
 '3805580',
 '3805440',
 '4323885',
 '4095679',
 '4798630',
 '10253198',
 '12986927',
 '4412686',
 '7118734',
 '7892447',
 '2209195',
 '13433251',
 '5924188',
 '4094903',
 '3805517',
 '7891924',
 '7891673',
 '7892016',
 '7154849',
 '4095498',
 '3805459',
 '11879393',
 '7891933',
 '9587015',
 '4211969',
 '3805602',
 '9736432',
 '4094957',
 '11960625',
 '11879639',
 '592524',
 '10897838',
 '10210051',
 '2476657',
 '12499622',
 '13155689',
 '8627561',
 '11850082',
 '2269011',
 '4438789',
 '592500',
 '7891912',
 '4096207',
 '10543181',
 '7891939',
 '10020511',
 '3805561',
 '7154824',
 '10677413',
 '7154939',
 '8077234',
 '7891917',
 '6732940',
 '12339161',
 '4438716',
 '12238654',
 '4427534',
 '12657697',
 '7892131',
 '12841946',
 '4094942',
 '4427657',
 '4095668',
 '8077812',
 '4095561',
 '4094832',
 '4798571',
 '7060830',
 '12910217',
 '13199013',
 '4798583',
 '4094936',
 '2341869',
 '592509',
 '3805557',
 '592492',
 '4094927',
 '11879406',
 '4798677',
 '14135425',
 '4095486',
 '4438686',
 '13169763',
 '8591974',
 '592450',
 '13138039',
 '13436805',
 '3349619',
 '7892126',
 '13004245',
 '3805589',
 '4427670',
 '7272329',
 '6197433',
 '4094797',
 '10779009',
 '1772732',
 '2392950',
 '11879469',
 '4094934',
 '3957021',
 '4798827',
 '3805624',
 '3805545',
 '7891981',
 '592502',
 '4427661',
 '3805584',
 '7892121',
 '1532473',
 '7891989',
 '3805419',
 '9997012',
 '4094840',
 '4798676',
 '4798618',
 '8262102',
 '3808276',
 '3805630',
 '12847901',
 '14202310',
 '14202847',
 '4427533',
 '12538691',
 '9586394',
 '9582763',
 '13147874',
 '12763399',
 '13151875',
 '13152278',
 '13151759',
 '13152481',
 '13151896',
 '13155667',
 '8449230',
 '8317410',
 '4798570',
 '7353801',
 '3805494',
 '4798825',
 '14021823',
 '12928976',
 '3805397',
 '592515',
 '13651545',
 '13086792',
 '10447913',
 '13172633',
 '4095494',
 '13086721',
 '4094815',
 '592504',
 '4438637',
 '3805417',
 '13412916',
 '4094887',
 '3821647',
 '12335291',
 '4067949',
 '12881807',
 '10464413',
 '592517',
 '10686449',
 '10020510',
 '12948626',
 '13172639',
 '4095620',
 '4096206',
 '14789834',
 '4095605',
 '4798567',
 '8121817',
 '4798642',
 '7891913',
 '1723779',
 '4438687',
 '4095581',
 '4427650',
 '4427662',
 '7980918',
 '8121809',
 '10686434',
 '8724136',
 '13553491',
 '13798962',
 '13860017',
 '13956902',
 '13222799',
 '13123227',
 '12673929',
 '12118155',
 '4094800',
 '7264189',
 '4798574',
 '4094834',
 '7892033',
 '12496146',
 '11850476',
 '7891916',
 '13319719',
 '14965598',
 '13968712',
 '4438496',
 '12459280',
 '7892561',
 '592442',
 '4095656',
 '3805530',
 '3954463',
 '14975672',
 '14112773',
 '14975458',
 '14975451',
 '14112185',
 '14015599',
 '13954612',
 '14774067',
 '14455910',
 '4438706',
 '4798548',
 '13794376',
 '13688351',
 '4798686',
 '7738848',
 '10130671',
 '4095644',
 '6941864',
 '4068112',
 '4798610',
 '4438517',
 '12447861',
 '10620641',
 '3805632',
 '4068109',
 '7154853',
 '7892528',
 '4068006',
 '4087589',
 '10625757',
 '4095481',
 '14956599',
 '4798681',
 '4094871',
 '3808298',
 '14101026',
 '14148633',
 '14147985',
 '14108530',
 '4095493',
 '11926378',
 '7987806',
 '14771392',
 '4094818',
 '4798687',
 '4798598',
 '8019604',
 '14202981',
 '12587887',
 '14064107',
 '13141984',
 '10388757',
 '3136733',
 '13999912',
 '8591663',
 '6197467',
 '4094859',
 '11879686',
 '13229785',
 '12986922',
 '2483960']

In [26]:
kv = KeyedVectors(300)

In [ ]:
kv.